{% extends "base.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}
<style>
    .box-button1 {
        width: 230px;
        background-color: #FCC822;
        color: white;
        box-shadow: 0px 4px 6px #ffdb67;
        /* Shadow for depth */
    }

    a {
        text-decoration: none;
    }

    .know-more {

        padding-left: 30px;
        color: #FCC822;
    }
</style>
<div class="row g-0">
    <div class="col col-md col-lg">
        <div class="jumbotron p-5">
            <h1 class="display-4 fw-bold">Learn new concepts for each question</h1>
            <br>
            <p class="lead ">We help you prepare for exams and quizes</p>
            <hr class="my-4">
            <p class="lead">
            <div class="row">
                <div class="col-4 col-md-0 col-lg-0"><a class="btn  btn-lg rounded-0 px-4  box-button1" href="#"
                        role="button">Start
                        solving</a></div>
                <div class="col-4 col-md-0 col-lg-0">
                    <img src="{{ url_for('static', filename='/images/know_more.svg') }}" height="6.86">
                </div>
                <div class="col-4 col-md-0 col-lg-0"><a href="" class="know-more">Know
                        more</a></div>
            </div>
            </p>
        </div>
    </div>
    <div class="col col-md col-lg p-5">
        <h1>hellow</h1>
    </div>
    <div class="w-100"></div>
    <div class="col px-10">Column </div>
    <div class="col">col</div>
</div>
{% endblock %}