{% extends "base.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}
<style>
    .box-button1 {
        background-color: #FCC822;
        color: white;
        box-shadow: 0px 4px 6px #ffdb67;
        /* Shadow for depth */

    }
</style>
<div class="row">
    <div class="col">
        <div class="jumbotron p-5">
            <h1 class="display-4 fw-bold">Learn with new concepts for each question</h1>
            <br>
            <p class="lead ">We help you prepare for exams and quizes</p>
            <hr class="my-4">
            <p class="lead">
            <div class="row">
                <div class="col"><a class="btn  btn-lg rounded-0 px-4  box-button1" href="#" role="button">Start
                        solving</a></div>
                <div class="col"><a href="">Know more</a></div>
            </div>
            </p>
        </div>
    </div>
    <div class="col"></div>
    <div class="w-100"></div>
    <div class="col"></div>
    <div class="col">col</div>
</div>
{% endblock %}